.Searchbar {
  align-items: center;
  background: white;
  border: solid 1px #ccc;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 8px 18px;
}
.Searchbar > button {
  border-radius: 0px;
}
.searchAddText{
  padding: 0px 3px;
  color: #979797;
}